.button-element {
  border: none;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #2980b9;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
